@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Knewave&family=Nunito&family=Sigmar+One&family=Titan+One&display=swap');

/* --------------------- */
/*                  ALL PAGES                  */
*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #fefae0;            
  font-family: 'Nunito', sans-serif;
  color: #d4a373;                 
}
header{
  position: sticky;
  top: 0px;
  color: #000000;
  background: #fefae0cc;
  transition-delay: 2s;
}
.beforeScroll{
  font-size: 13vw;
  margin: 2vw auto;
  text-align: center;
  color: #d4a373;
  font-family: 'Knewave', cursive;
}
.afterScroll{
  font-size: 8vw;
  text-align: left;
  margin: 0.5vw 1px;
  color: #d4a373;
  font-family: 'Knewave', cursive;
}

nav{
  text-align: center;
}
.bigLinks{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #202020;
  background: #d4a373;
  border-radius: 20px;
}
main{
  margin: 8px 8px 40px 8px;
  top: 100%;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #e9edc9;
}


/*  */
#detectsScroll{
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  color: #fefae0;
  height: 13vw;
  width: 13vw;
  z-index: 1;
}
.afterScroll{
  font-size: 10vw;
  text-align: left;
  margin: 0.5vw 0vw;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bigLinks{
    width: 80vw;
    margin: 5px;
    padding: 16px 0px;
    font-size: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {  
  .bigLinks{
    padding: 20px;
    width: 80vw;
    margin: 0px 0px 20px 0px;
    font-size: 21px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bigLinks{
    padding: 30px 1px;
    width: 31vw;
    margin: 0px 4px 20px 4px;
    font-size: 28px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bigLinks{
    width: 32vw;
    margin: 0px 3px 25px 3px;
    padding: 30px 0px;
    font-size: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bigLinks{
    width: 32vw;
    margin: 0px 3px 25px 3px;
    padding: 30px 0px;
    font-size: 30px;
  }
}
